<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div class="container vh-100">
      <div class="row m-2">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 p-4 bg-secondary rounded">
          <form id="searchForm" class="input-group mb-5">
            <input
              id="searchInput"
              type="text"
              class="form-control"
              placeholder="Search title"
              required
            />
            <div class="input-group-append">
              <button id="searchButton" class="btn btn-success" type="submit">
                Go
              </button>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-3"></div>
            <div id="content" class="col-sm-6 text-center"></div>
            <div class="col-sm-3"></div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </body>
</html>
